$black = #000000
$white = #ffffff
$grey = #cccccc

$color-accent1 = #75b624
$color-accent2 = #01426c
$color-accent3 = #e76b09
$color-text-primary = #1a1a1a
$color-text-grey = #4d4d4d
$color-text-lightgrey = #aaaaaa
$color-text-white = #fafafa

$color-base = #ffffff
$color-base-off = #f7f7f7
$color-base-grey = #343a40

$color-border-grey = #cccccc

$color-footer-bg = #1e1e1e

$color-dropdown-highlight = #ececec
