
$bg-suggest-topic = url('/img/bg-suggest-topic.jpg')
$bg-banner = url('/img/bg-banner.jpg')

$ico-google = url('/ico/google.svg')
$ico-user = url('/ico/user.svg')
$ico-dashboard = url('/ico/dashboard.svg')
$ico-media = url('/ico/media.svg')
$ico-logout = url('/ico/logout.svg')
$ico-search = url('/ico/search.svg')
$ico-list = url('/ico/list.svg')
$ico-grid = url('/ico/grid.svg')
$ico-add = url('/ico/create.svg')
$ico-edit = url('/ico/edit.svg')
$ico-delete = url('/ico/delete.svg')

// ::: temp
$ico-publish = url('/ico/publish.svg')
$ico-save = url('/ico/save.svg')
// ::: temp

$img-medinews = url('/img/medinews.svg')
$img-service = url('/img/service.svg')
$img-learningresources = url('/img/learningresources.svg')
$img-team = url('/img/team.svg')
$img-cybersecurity = url('/img/cybersecurity.svg')
