.ico
  cursor pointer
  width-height 20px
  text-align center
  transition background-color 0.2s
.ico-user
  mask $ico-user
.ico-dashboard
  mask $ico-dashboard
.ico-media
  mask $ico-media
.ico-edit-profile
  mask $ico-edit-profile
.ico-logout
  mask $ico-logout
.ico-search
  mask $ico-search
.ico-list
  mask $ico-list
.ico-grid
  mask $ico-grid
.ico-add
  mask $ico-add
.ico-edit
  mask $ico-edit
.ico-delete
  mask $ico-delete

// ::: temp
.ico-save
  mask $ico-save
.ico-publish
  mask $ico-publish
// ::: temp
